@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'InterMedium';

    src: url(/font/Inter-Medium.woff) format('woff2');
  }
  @font-face {
    font-family: 'InterLight';

    src: url(/font/Inter-Light-BETA.woff) format('woff2');
  }
  @font-face {
    font-family: 'InterReguler';
    src: url(/font/Inter-Regular.woff) format('woff2');
  }
  @font-face {
    font-family: 'InterSemiBold';
    src: url(/font/Inter-SemiBold.woff) format('woff2');
  }
  .errortextfield{
    @apply text-red-800
  }
  .errorfield{
    @apply text-red-800 border-red-800 border 
  }
  .sv svg{
    @apply mt-1
  }
  .paginate li{
    @apply border w-[42px] h-[38px] 
  }
  .paginate li a{
    @apply w-full h-full flex justify-center items-center
  }
}
.activepaginate{
  background-color: #4256D0;
  color: white;
}

.active{
   background-color: #4256D0;
   padding-bottom: 4px;
   padding-top: 4px;
   border-radius: 12px;
   width: 192px;
}
.all{
    padding-left: 32px;
}